*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
Ror/vendor/bundle
Ror/vendor/gems
Ror/log/*
Ror/tmp/*
Ror/db/*.sqlite3
/public/system/*
Ror/public/uploads
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
Ror/config/database.yml
Ror/db/schema.rb
Ror/db/structure.sql
*~
*.swp
*.swo
.DS_Store